@charset "utf-8";
/* CSS Document */
.search{ float:left;  height:33px; margin-top:10px;}
.search input[type="text"]{ width:191px; height:31px; border:1px solid #dbddde ; float:left; padding-left:5px; color:#666666;}
.search input[type="submit"]{ width:71px; height:33px; border:none; float:left; background:#308ce3; color:#fff; font-size:16px;}
.add_content{ width:478px; height:auto; overflow:hidden; clear:both; float:left; margin-top:23px;}
.add_content .add_contentl{float:left; width:207px; height:auto; overflow:hidden;}
.add_contentl ul{float:left; width:207px; height:auto; overflow:hidden; background:#eaf1f8;}
.add_contentl ul li{ height:24px; width:207px; line-height:24px; text-align:left; padding-left:10px; font-size:13px; background:#e2edf6; color:#000000;}
.arrow_more_gray { background: url(../images/arrow.png) left 8px no-repeat; display:block; height:24px; line-height:24px; padding-left:10px;}
.menu1_z{ width:478px; height:auto; overflow:hidden; clear:both; float:left; position:relative;}
.menu1{width:207px; height:auto;overflow:hidden; float:left; background:#ecf4fb; margin-top:20px;}
.menu1 ul li{display:block;width:207px;background: #c3dff5; url(../images/zakladka.png) top left no-repeat;list-style:none;overflow:visible; position:relative; }
.menu1 ul li a{display:block;height:24px; line-height:24px; text-align:left;width:207px;font-size:13px;color:#000000;outline:none; padding-left:22px;}
.menu1 ul li .active{background:url(../images/on.png) 5px center no-repeat;}
.menu1 ul li .inactive{background:url(../images/off.png) 5px center no-repeat;}
.menu1 ul li .img{position:absolute;right: 7px;top: 7px;}
.menu1 ul li ul{display:none; }
.menu1 ul li ul li ul{ width:207px; height:auto; overflow:hidden; padding:0; }
.menu1 ul li ul li{display:block;background:none;font-size:12px;list-style:circle;color:#8f9d4c;margin-bottom:0px;margin-top:0px; height:24px; }
.menu1 ul li ul li a{background:none;font-size:12px;height:24px;color:#000;line-height:24px; text-align:left;background:#ecf4fb!important; }
.menu1 ul li ul li a:hover{ background:#308ce3!important;color:#fff;}
.menu11{float:right;height:251px; width:207px; background:#ecf4fb; margin-top:20px;}
