.menu{width:311px;padding:10px;border:solid 1px #dfdfdf;background:#ffffff;font-size:11px;margin:0 auto;overflow:hidden;}
.menu ul li{display:block;width:311px;padding-top:2px;margin-bottom:5px;background: url(../images/zakladka.png) top left no-repeat;list-style:none;overflow:visible;}
.menu ul li a{display:block;height:34px; width:273px;margin-top:0px;padding-top:10px;padding-left:35px;font-size:14px;color:#82846f;outline:none;}
.menu ul li .active{background:url(../images/on.png) top right no-repeat;}
.menu ul li .inactive{background:url(../images/off.png) top right no-repeat;}
.menu ul li ul{display:none; margin-top:-4px;margin-bottom:20px;   }
.menu ul li ul li ul{margin-bottom:5px;}
.menu ul li ul li{display:block;background:none;font-size:12px;list-style:circle;color:#8f9d4c;margin-bottom:0px;margin-top:0px;padding-top:0px;padding-bottom:0px;padding-left:1px;margin-left:35px;}
.menu ul li ul li a{background:none;font-size:12px;height:15px;color:#8f9d4c;padding-left:0px; }






.content .content_i .menu{ height:auto; overflow:hidden; width: 202px; background: #0058ac; float: left;}
.content .content_i .menu ul{ width: 202px; height: auto; overflow: hidden;}
.content .content_i .menu ul li{ width: 202px; height:auto; overflow:hidden; background: #0058ac url(../images/crow1.png) 90% 25px no-repeat; cursor:pointer; border-bottom:#2d8eea 1px solid; border-top: 1px solid #0c4479;}
.content .content_i .menu ul li.current{ background:#fff url(../images/crow.png) 90% center no-repeat;}
.content .content_i .menu ul li.current span{color: #333;}
.content .content_i .menu ul li i img{ display:inline-block; float:left; margin-left:24px; margin-top:18px; margin-right:18px;}
.content .content_i .menu ul li span{ display:inline-block; float:left; height:64px; font-size: 16px; color: #fff; line-height:64px; width:120px; text-align:left;}
.content .content_i .menu ul li ul{ width:202px; height: auto; overflow: hidden; background:#fff;}
.content .content_i .menu ul li ul li{ width:202px; height: 56px; line-height: 56px;text-align: center; background:none; border:none;}
.content .content_i .menu ul li ul li a{ width:202px; padding-left: 4px; height: 56px; line-height: 56px;text-align: center; color: #000000; font-size: 14px;} 
.content .content_i .menu ul li ul li a.cur{color:#0056aa;}